<link rel="stylesheet" media="screen" type="text/css" href="/static/css/morris.css"/>
<script type='text/javascript' src='/static/js/raphael-min.js'></script>
<script type='text/javascript' src='/static/js/morris.min.js'></script>
<script type="text/javascript" src="/static/js/WdatePicker.js"></script>
<script type='text/javascript' src='/static/js/mymorris.js'></script>

<style>
    div.storages {
        border: 1px solid #D4D7CB;
        padding: 10px;
        margin-right: 30px;
    }

    div.storage-cell {
        border: 1px solid #D4D7CB;
        padding: 10px;
        margin: 10px;
        width: 250px;
        float: left;
    }

    div.node-cell {
        border: 1px solid #D4D7CB;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div.storage-name {
        border-bottom: 1px dashed #D4D7CB;
        word-break:break-all;
    }

    div.donut {
        width: 200px;
        height: 220px;
        margin: 0 auto;
    }

    div.storage-chart {
        height: 200px;
    }

    span.block2 {
        background: #26A0DA;
        width: 55px;
        height: 15px;
        float: right;
    }

    span.block1 {
        background: #ACACAC;
        width: 55px;
        height: 15px;
        float: right;
    }

    span.line {
        text-decoration: line-through;
        float: right;
        color: red;
    }

    #mydialog a:focus {
        outline: none;
    }
    .msgcolor {
        width: 10px;
        height: 10px;
        display: block;
        float: left;
        border: 1px solid #797474;
        margin-right: 5px;
        margin-top: 2px;
    }
</style>

<script>
    $(function () {
        var curTime = '{{ now|date:"Y-m-d" }}';
        $('#storagetime2').val(curTime);
        $('#storagetime1').val(DateSubDay(curTime, 7));
        $("#tabs").tabs();
        $("#tabs").tabs("option", "active", 0);
        $("#navigation").html('<div class="font_navigation">容量状态报告</div>');
        $("#navigation").append('<div class="help_navigation"><a href="/xdashboard/faq/#storagestatus" target="blank"><img src="/static/images/tip_icon_ask.png" height="24" width="24"></a></div>');
        myAjaxGet('../bussinessreport_handle/', 'a=allstorageinfo', PerStorageInfo);
		adminstoragestatus_resize();
        $('#storages').html('请稍候...');
    });

    $('#tabs').on('tabsbeforeactivate', function (event, ui) {
        switch (ui.newTab.index()) {
            case 0:
                myAjaxGet('../bussinessreport_handle/', 'a=allstorageinfo', PerStorageInfo);
                break;
            case 1:
                OnStoragetime();
                break;
			case 2:
				shwoall();
				var width = $('#tabs').width() - 50;
				$("#list").setGridWidth(width);
                break;
        }
    });

    function PerStorageInfo(jsonstr) {
        if (jsonstr.r != 0) {
            openErrorDialog({title: '错误', html: jsonstr.e});
            return;
        }
        $('#storages').empty();
        $.each(jsonstr.nodes, function (index, elem) {
            var total_GB = (elem.total / Math.pow(1024, 3)).toFixed(2);
            var free_GB = (elem.free / Math.pow(1024, 3)).toFixed(2);
            var used_GB = (total_GB - free_GB).toFixed(2);

            var $name = $('<div class="storage-name"></div>').text('存储单元：' + elem.name);
            var $donut = $('<div class="donut"></div>').attr('id', 'storage' + index);
            var $space = $('<div>总空间:<span>{0}GB</span><br><span class="msgcolor" style="background-color:#26A0DA"></span>已用:<span>{1}GB</span><br><span class="msgcolor" style="background-color:#ACACAC"></span>可用:<span>{2}GB</span></div>'.replace('{0}', total_GB).replace('{1}', used_GB).replace('{2}', free_GB));

            var $cell = $('<div class="storage-cell">').append($name).append($donut).append($space);
            $('#storages').append($cell);

            var data = [{label: "已用空间", value: used_GB}, {label: "可用空间", value: free_GB}];
            var elemid = 'storage' + index;
            ShowDonut(elemid, data);
        });
        $('#storages').append($('<div style="clear:both;"></div>'));
    }

    // 获取所有存储单元的历史space, 绘制图表
    function OnStoragetime() {
        var starttime = $('#storagetime1').val();
        var endtime = $('#storagetime2').val();
        var storagedevice = $('#storagedevice').val();
        var d1 = new Date(starttime.replace(/-/g, '/'));
        var d2 = new Date(endtime.replace(/-/g, '/'));
        var diff = d2 - d1;
        if (diff < 0) {
            openErrorDialog('错误', '开始时间应小于结束时间');
            return;
        }
        if (storagedevice == "undefined") {
            storagedevice = -1;
        }
        var p = 'starttime=' + starttime + '&endtime=' + endtime + '&storagedevice=' + storagedevice;
        myAjaxGet('../bussinessreport_handle/', p + '&a=storagechart', GetStorageChart);
        $('.mywaite').show();
    }

    function GetStorageChart(jsonstr) {
        $('.mywaite').hide();
        if (jsonstr.r != 0) {
            openErrorDialog({title: '错误', html: jsonstr.e});
            return;
        }
        $('#nodes').empty();
        $.each(jsonstr.nodes, function (index, elem) {
            var nodeName = elem.name;
            var raw_chart_id = 'raw_chart'+index;
            var free_chart_id = 'free_chart'+index;

            var name_div_raw = $('<div></div>').html(nodeName + '：' + '使用空间变化').css({'font-weight':'bold', 'text-align':'center'});
            var name_div_free = $('<div></div>').html(nodeName + '：' + '可用空间变化').css({'font-weight':'bold', 'text-align':'center', 'border-top':'1px dashed #D4D7CB'});
            var raw_chart = $('<div></div>').attr({'id': raw_chart_id, 'class': 'storage-chart'});
            var free_chart = $('<div></div>').attr({'id': free_chart_id, 'class': 'storage-chart'});
            var legend4Raw = $('<div></div>')
                    .append($('<span class="msgcolor" style="background-color:#0150DA"></span>')).append($('<span style="float: left"></span>').html('RAW备份数据(GB)&nbsp;&nbsp;'))
                    .append($('<span class="msgcolor" style="background-color:#26A0DA"></span>')).append($('<span style="float: left"></span>').html('实际使用空间(GB)'));
            var legend4Free = $('<div></div>')
                    .append($('<span class="msgcolor" style="background-color:#ACACAC"></span>')).append($('<span style="float: left"></span>').html('可用空间(GB)'));

            var node_cell = $('<div></div>').attr('class', 'node-cell')
                    .append(name_div_raw)
                    .append(raw_chart)
                    .append(legend4Raw)
                    .append($('<br><br>'))
                    .append(name_div_free)
                    .append(free_chart)
                    .append(legend4Free)
                    .append($('<div style="height: 10px"></div>'));
            $('#nodes').append(node_cell);

            MorrisArea(raw_chart_id, elem.list, 'year', ['raw', 'used'], ['RAW备份数据(GB)', '已使用空间(GB)'], ['#0150DA', '#26A0DA']);
            MorrisArea(free_chart_id, elem.list, 'year', ['free'], ['可用空间(GB)'], ['#ACACAC']);
        });
    }

    function GetStorageInfo(jsonstr) {
        if (jsonstr.r != 0) {
            openErrorDialog({title: '错误', html: jsonstr.e});
            return;
        }
        $('#total-space').text(jsonstr.total);
        $('#remain-space').text(jsonstr.used);
    }

    $('#tab1-refresh').button().click(function () {
        myAjaxGet('../bussinessreport_handle/', 'a=allstorageinfo', PerStorageInfo);
    });

    $('#tab2-refresh').button().click(function () {
        OnStoragetime();
    });
    $('.exbutton')
            .button()
            .click(function () {
                var id = this.id;
                if (id == 'storagesstatus') {
                    var p = 'type=storagesstatus&' + 'name=节点容量报告';
                    var par = $('.storage-cell').length;
                    if (!par) {
                        openErrorDialog('错误', '没有数据可以导出');
                        return;
                    }
                    myAjaxGet('../bussinessreport_handle/?a=exchart', p, excallback);
                }
                if (id == 'storageschart') {
                    var p = 'type=storageschart&' + 'name=存储单元容量空间变化趋势报告';
                    var par = $('.node-cell').length;
                    if (!par) {
                        openErrorDialog('错误', '没有数据可以导出');
                        return;
                    }
                    var starttime = $('#storagetime1').val();
                    var endtime = $('#storagetime2').val();
                    var storagedevice = $('#storagedevice').val();
                    p += '&starttime=' + starttime + '&endtime=' + endtime + '&storagedevice=' + storagedevice;
                    myAjaxGet('../bussinessreport_handle/?a=exchart', p, excallback);
                }
            });
    $("#mydialog").dialog({
        autoOpen: false,
        width: 500,
        height: 150
    });

function ExPortCallback(jsonstr)
{
	$('#exportPageSumbit').prop('disabled',false);
	$('#exportPageMsg').html('');
	if(jsonstr.r!=0)
	{
		$('#exportPageResult').html(jsonstr.e);
	}
	else
	{
		$('#exportPageMsg').html('导出完成，请点击文件名下载。');
		$('#exportPageResult').html('<br><a href="'+jsonstr.url+'" target="_blank">'+jsonstr.filename+'</a><br>');
	}
}

function GetFilterString()
{
	var filter = '';
	if($("div#searchFormDiv #username").val())
	{
		filter+="&username="+$("div#searchFormDiv #username").val();
	}
	if($("div#searchFormDiv #sused").val())
	{
		filter+="&sused="+$("div#searchFormDiv #sused").val();
	}
	if($("div#searchFormDiv #eused").val())
	{
		filter+="&eused="+$("div#searchFormDiv #eused").val();
	}
	return filter;
}

$('#exportPageSumbit')
.button()
.click(function() {
	$('#exportPageSumbit').prop('disabled',true);
    if(!CheckerInputRange($('#exportPageStart').val(), $('#exportPageEnd').val(), $('#exportPageNum').html())){
        $('#exportPageSumbit').prop('disabled',false);
        return false;
    }

	$('#exportPageMsg').html('<img src="/static/images/loading.gif" height="30" width="30" /> 导出中，请稍侯...');
	var filter='a=exportstorages&rows='+$('#exportPageLimit').html()+'&startpage='+$('#exportPageStart').val()+'&endpage='+$('#exportPageEnd').val();
	myAjaxGet('../bussinessreport_handle/',filter+GetFilterString(),ExPortCallback);
});

$('#exportForm')
.button()
.click(function() {
   var list = $('#list');
	var records = list.getGridParam('records');
	var limit = list.getGridParam('rowNum');
	var num = Math.ceil(records/limit);

	$('#exportPageRecords').html(records);
	$('#exportPageLimit').html(limit);
	$('#exportPageNum').html(num);
	$('#exportPageMsg').html('');
	$('#exportPageResult').html('');

	$("#exportDiv").attr('title','导出').dialog({
		autoOpen: true,
		height: 470,
		width: 500,
		modal: true,
		buttons: {
			'关闭': function(){
				$(this).dialog('close');
			}
		},
		close: function(){
		}
	});
});

function OnSearch()
{
	var newUrl='../bussinessreport_handle/?a=storageslist'+GetFilterString();
	
	$('#list').setGridParam({url:newUrl});
	$('#list').trigger("reloadGrid",[{page:1}]);
}

$('#search_form')
.button()
.click(function() {
	$("#searchFormDiv").attr('title','查询').dialog({
		autoOpen: true,
		height: 250,
		width: 400,
		modal: true,
		buttons: {		
			'确定': function(){
				OnSearch();
				$(this).dialog('close');
			},
			'取消': function(){
				$(this).dialog('close');
				
			}
			
		},
		close: function(){
		}
	});
   
});

$('#showall')
.button()
.click(function() {
   shwoall();
});

function shwoall() {
    var newUrl='../bussinessreport_handle/?a=storageslist';

	$('#list').setGridParam({url:newUrl});
	$('#list').trigger("reloadGrid",[{page:1}]);
}

$(function(){
	jQuery("#list").jqGrid({
		url:'',
		datatype: "json",
		colNames:['用户名','存储单元','配额限制（GB）', '已使用空间（GB）'],

		colModel:[
			{name:'username',index:'username',align:"center", width:50,sortable: true},
			{name:'datetime',index:'datetime',align:"center", width:140,sortable: false},
			{name:'quota_total',index:'quota_total',align:"center", width:90,sortable: false},
			{name:'used_bytes',index:'used_bytes',align:"center", width:90,sortable: true},
		],
		width:748,
		height:550,
		rowNum:300,
		rowList:[100,200,300],
		pager: '#pager',
		sortname: 'username',
		recordpos: 'left',
		viewrecords: true,
		sortorder: "desc",
		shrinkToFit:true,
		multiselect: true
	});
});
jQuery("#list").jqGrid('navGrid','#pager',{add:false,search:false,del:false,edit:false,position:'right'});
$("#list").closest(".ui-jqgrid-bdiv").css({ 'overflow-x' : 'scroll' });



    function excallback(jsonstr) {

        if (jsonstr.r != 0) {
            openErrorDialog('错误', jsonstr.e);
            return;
        }
        $('#urladdress').attr('href', jsonstr.url);
        $('#urladdress').html(jsonstr.filename);
        $("#mydialog").dialog("open");
    }

function adminstoragestatus_resize()
{
	resizeright();
	var width = $('.table_menu').width();
	$("#list").setGridWidth(width);
	baseresize();
}

$(window).resize(function() {
	adminstoragestatus_resize();	
});
</script>

<div class="right">
    <div class="mywaite ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;position: absolute;top: 40%;left: 50%; display:none;z-index: 999">
	    <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
	        <strong>请稍候</strong>读取数据中...
        </p>
    </div>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">容量空间使用状态</a></li>
            <li><a href="#tabs-2">容量空间变化趋势</a></li>
			<li><a href="#tabs-3">用户容量空间状态</a></li>
        </ul>

        <div id="tabs-1">
            <div id="tab1-refresh" style="float: right;margin-right: 25px;margin-bottom: 3px">刷新</div>
            <div class="exbutton" id="storagesstatus" style="float: right;margin: 0 30px 10px 0;">导出</div>
            <div style="clear: both"></div>
            <div id="storages" class="storages"></div>
        </div>

        <div id="tabs-2">
            时间：<input name="storagetime1" type="text" class="textTime Wdate" id="storagetime1" readonly="readonly"
                      onclick="WdatePicker({dateFmt:'yyyy-MM-dd',onpicked:OnStoragetime})"/>
            至<input name="storagetime2" type="text" class="textTime Wdate" id="storagetime2" readonly="readonly"
                    onclick="WdatePicker({dateFmt:'yyyy-MM-dd',onpicked:OnStoragetime})"/>
            <span id="tab2-refresh" style="float: right;margin-right: 25px;margin-bottom: 3px">刷新</span>
            <div class="exbutton" id="storageschart" style="float: right;margin: 0 40px 10px 0;">导出</div>
            <div id="nodes"></div>
        </div>
		<div id="tabs-3">
			<div class="table_menu">
				<div class="menu_btn" id="exportForm">导出</div>
				<div class="menu_btn" id="search_form">查询</div>
				<div class="menu_btn" id="showall">刷新</div>
			</div>
			<table id="list"></table>
			<div id="pager"></div>
		</div>
    </div>
    <div id="mydialog" title="下载链接"><p style="line-height: 50px;">下载地址：<a id="urladdress" style="color: blue"></a></p>
    </div>

	<div id="exportDiv" style="display:none" class="exportFormRemove">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="30" colspan="2">
					共 <span id="exportPageRecords"></span> 条记录，每页 <span id="exportPageLimit"></span> 条，共 <span id="exportPageNum"></span> 页
				</td>
			</tr>
			<tr>
				<td width="85%" height="30">
					请输入您要导出的页数范围：<input name="exportPageStart" id="exportPageStart" type="number" style="width:90px" min="1"/> - <input name="exportPageEnd" id="exportPageEnd" type="number" style="width:90px" min="1"/>
				</td>
				<td width="15%"><input type="button" id="exportPageSumbit" value="导出" /></td>
			</tr>
			<tr>
				<td height="30">
				</td>
				<td width="15%">
				</td>
			</tr>
			<tr>
				<td colspan="2"><div id="exportPageMsg" style="color:#FF0000"></div></td>
			</tr>
			<tr>
				<td colspan="2"><div id="exportPageResult" style="height:170px;overflow:auto"></div></td>
			</tr>
		</table>
	</div>

<div id="searchFormDiv" title="查询" class="ajaxForm">
	<div style="margin-top: 20px;margin-left: 20px;">　　用户名：<input type="text" name="username" id="username" style="width:206px" /></div>
	<div style="margin-top: 10px;margin-left: 20px;">
	已使用空间：<input name="sused" type="number" id="sused" style="width:90px" placeholder="可不填"/> 至 
	<input name="eused" type="number" id="eused" style="width:90px" placeholder="可不填"/>（GB）
	</div>
</div>

</div>


