
<div id="create_template_params_div">
    <table style="border-collapse:separate; border-spacing:0px 40px">
        <tr>
            <td>模板名称:</td>
            <td><input type="text" id="template_name" style="width: 500px" onblur="removespace(this)"
               title="" class="user-input"/></td>
        </tr>
        <tr>
            <td>源客户端:</td>
            <td><p id="template_host" class="user-input"></p></td>
        </tr>
        <tr>
            <td>快照点:</td>
            <td><p id="template_snapshot" class="user-input"></p></td>
        </tr>
        <tr>
            <td>描述:</td>
            <td><textarea id="template_desc" style="width: 500px;height: 150px" onblur="removespace(this)"
               title="" class="user-input"></textarea></td>
        </tr>
    </table>
</div>